{{!-- <div class="group">
    <input required type="text" class="input" name="animaux" value="{{this.animaux}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Animaux</label>
</div>
<div class="group">
    <input required type="text" class="input" name="prestation" value="{{this.prestation}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Prestation</label>
</div>
<div class="group">
    <input required type="text" class="input" name="ville" value="{{this.ville}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Ville</label>
</div>
<div class="group">
    <input required type="text" class="input" name="date" value="{{this.date}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Date (jj-mm-aa)</label>
</div>
<div class="group">
    <input required type="text" class="input" name="race" value="{{this.race}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Race</label>
</div>
<div class="group">
    <input required type="text" class="input" name="sexe" value="{{this.sexe}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Sexe</label>
</div>
<div class="group">
    <input required type="text" class="input" name="age" value="{{this.age}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Age</label>
</div>
<button>
    <span class="circle1"></span>
    <span class="circle2"></span>
    <span class="circle3"></span>
    <span class="circle4"></span>
    <span class="circle5"></span>
    <span class="text">Submit</span>
</button> --}}


<div class="grid_input">
<div class="group">
    <input required type="text" class="input" name="animaux" value="{{this.animaux}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Animaux <span class="required_to_put">*</span></label>
</div>

<div class="group">
    <input required type="text" class="input" name="nom_de_animal" value="{{this.nom_de_animal}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Nom de l'animal</label>
</div>

<div class="group" style="position: relative;">
    <input required type="text" class="input" name="prestation" value="{{this.prestation}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Prestation <span class="required_to_put">*</span></label>
</div>

<div class="group">
    <input required type="text" class="input" name="ville" value="{{this.ville}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Ville <span class="required_to_put">*</span></label>
</div>

<div class="group">
    <input required type="text" class="input" name="date" value="{{this.date}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Date (jj-mm-aa) <span class="required_to_put">*</span></label>
</div>

<div class="group">
    <input required type="text" class="input" name="numero_de_telephone" value="{{this.numero_de_telephone}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Numéro de téléphone</label>
</div>

<div class="group">
    <input required type="text" class="input" name="race" value="{{this.race}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Race</label>
</div>

<div class="group">
    <input required type="text" class="input" name="sexe" value="{{this.sexe}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Sexe</label>
</div>

<div class="group">
    <input required type="text" class="input" name="age" value="{{this.age}}">
    <span class="highlight"></span>
    <span class="bar"></span>
    <label>Age</label>
</div>

</div>
<button class="submit">Submit</button>
