<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/view_post_style.css">
    <title>ViewPost</title>
</head>
<body>

    <p style="margin: 30px 30px;">
        <a href="/">Home</a>/<a href="#">View Post</a>
    </p>
    {{#each rows}}
        <div class="container">
            <h1>{{this.nom_de_animal}}</h1>
            <div class="view_container">
                <span><b>Id:</b> {{this.id}}</span>
                <span><b>Animaux:</b> {{this.animaux}}</span>
                <span><b>Nom de l'animal:</b> {{this.nom_de_animal}}</span>
                <span><b>Prestation:</b> {{this.prestation}}</span>
                <span><b>Ville:</b> {{this.ville}}</span>
                <span><b>Date:</b> {{this.date}}</span>
                <span><b>Numéro de téléphone:</b> {{this.numero_de_telephone}}</span>
                <span><b>Race:</b> {{this.race}}</span>
                <span><b>Sexe:</b> {{this.sexe}}</span>
                <span><b>Age:</b> {{this.age}}</span>
            </div>
        </div>
    {{/each}}

</body>
</html>